<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/inicio']" routerLinkActive="active">Inicio</a></li>
            <li class="breadcrumb-item" [routerLink]="['eletrodomesticos']" routerLinkActive="active">atacadaotaech de Eletrodomesticos </li>
        </ol>
    </nav>
</div>
<div class="container justify-content-arond">
    <div class="item-lista" *ngFor="let atacadaotach of atacadaotech">
        <img [src]="atacadaotach.pathImage" alt="imagem Produto">
        <h4> {{atacadaotach.name}} </h4>
    </div>
</div>